body{
  font-family: cursive;
  background: url("../img/Autun.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

// body::before{
//   display:block;
//   top:0;
//   left:0;
//   background: url("../img/Autun.jpg") no-repeat center fixed;
//   background-size: cover;
//   z-index:-1;
//   width:100%;
//   height:100vh;
//   content:"";
// }

.wave {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

@mixin subtitle{
  display: flex;
  font-size: 400%;
  font-weight: bold;
  color: beige;
}

#myself-pic{
  width: 150px;
  border-radius: 10px;
  height: 100%;
  margin-left: 5%;
}

@mixin box{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.container{
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    >.box-lang{
      @include box;
      text-shadow: 1px 1px grey;
      margin-right: 7%;
      font-size: 120%;
      color: beige;
    }
}

.box-lang>a{
  &:link{
  color: beige;
  &:visited{
  color: beige;
}
  }
}

.first-title{
  margin-top: 10%;
  font-size: 700%;
  text-shadow: 2px 2px grey;
  color: beige;
  display: flex;
  flex-direction: column;
  line-height: 150px;
  width: 100%;
  font-style: italic;
  letter-spacing: 5px;
  >.name{
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
  }
}

.surname{
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

// #block-01::before{
//   display:block;
//   top:0;
//   left:0;
//   background: url("../img/Bear.jpg") no-repeat center fixed;
//   z-index:-1;
//   background-size: cover;
//   width:100%;
//   height:100vh;
//   content:"";
// }

#block-01{
  background: url("../img/Bear.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  >.sub-title{
    @include subtitle;
    text-shadow: 2px 2px grey;
    margin-left: 15%;
    margin-right: 0px;
    }
>#self-intr{
  margin: 7% 10% 0 10%;
  width: 80%;
  text-shadow: 2px 2px grey;
  display: flex;
  font-size: 150%;
  color: beige;
  display: flex;
  flex-direction: column;
  >.age, .hobby, .background{
    font-family: sans-serif;
    display: flex;
    margin-bottom: 5%;
  >p{
    margin-bottom: 20px;
    line-height: 40px;
  }
  }
}
}

.age>p:first-child, .hobby>p:first-child, .background>p:first-child{
  width: 20%;
}

.age>p:nth-child(2n), .hobby>p:nth-child(2n), .background>p:nth-child(2n){
  width: 80%;
}

#section {
  min-height: 50%;
}

#key-visual1{
  min-height: 100%;
  padding: 5% 0 0;
  width: 100%;
  height: 100vh;
}

#block-02 {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

  .skillBar-container{
    width: 70%;
    margin-left: 15%;
    height: 100vh;
    >.sub-title h1{
      color: black;
      text-shadow: 2px 2px grey;
      @include subtitle;
      margin-bottom: 50px;
    }
    >.box{
      @include box;
      margin-bottom: 70px;
      color: beige;
      font-size: 100%;
      font-weight: bold;
      >h3{
        margin-bottom: 30px;
      }
    }
  }

  // #block-03::before{
  // display:block;
  // top:0;
  // left:0;
  // background: url("../img/Paris.jpg") no-repeat center fixed;
  // background-size: cover;
  // width:100%;
  // height:100vh;
  // z-index:-1;
  // content:"";
  // }

  #block-03{
  background: url("../img/Paris.jpg") no-repeat center scroll;
  background-size: cover;
  >.works{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    >.sub-title h1{
      color: black;
      text-shadow: 2px 2px grey;
      margin-left: 5%;
      @include subtitle;
      margin-bottom: 30px;
      margin-top: 100px;
    }
    >.work-details{
      @include box;
      display: flex;
      flex-direction: column;
      font-size: 120%;
      margin: 5% 10% 0 0;
      color: beige;
      >p{
        text-shadow: 2px 2px grey;
        margin-bottom: 2%;
    }
  }
  }
}
  
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: grey;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 100%;
    color: beige;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: darkgrey;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: darkgrey;
  }
  .bar.back::before{
    background-color: darkgrey;
  }
  
  .bar.HTML5::before{
    width: calc(90% - 10px);
  }
  .bar.CSS3::before{
    width: calc(80% - 10px);
  }
  .bar.Sass::before{
    width: calc(50% - 10px);
  }
  .bar.Javascript::before{
    width: calc(50% - 10px);
  }
  .bar.jQuery::before{
    width: calc(60% - 10px);
  }
  .bar.PHP::before{
    width: calc(50% - 10px);
  }

  .bar.WordPress::before{
    width: calc(50% - 10px);
  }

  /*ドロワー*/
.l-drawer {
  position: relative;
  // inputのcheckboxは非表示
  &__checkbox{
    display: none;
  }
  // ハンバーガーアイコン
  &__icon{
    border: 2px solid beige;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 50%;
    right: 2%;
    // ハンバーガーアイコンの中の線
    &-parts,
    &-parts:before,
    &-parts:after{
      background-color: beige;   
      display: block;
      width: 25px;
      height: 3px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
    &-parts:before,
    &-parts:after{
      content: " ";
    }
    &-parts:before{
      top: 16px
    }
    &-parts:after{
      top: -16px
    }
  }

  .l-drawer__item-inner{
    cursor: pointer;
    color: beige;
    font-size: 120%;
  }
  
  // ドロワーメニュー開いた時のメインエリアを暗く
  &__overlay{
    background: black;
    opacity: 0;
    pointer-events: none; //ポインタの動作全部無効化
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  // ドロワーメニュー
  &__menu{
    background: grey;
    color: #000;
    max-width: 100%;
    width: 250px;
    height: 800px;
    overflow-y: auto; //スクロール
    -webkit-overflow-scrolling: touch; //スクロール（SP）
    position: fixed;
    top: 45%; 
    right: -320px;
  }

  .l-drawer__menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 50px;
  }

.l-drawer__item{
  margin-bottom: 20px;
}

  // z-indexの指定（1がメインエリア）
  &__icon{
    z-index: 4;
  }
  &__menu{
    z-index: 3;
  }
  &__overlay{
    z-index: 2;
  }
  
  // チェックが入ったら（アイコンクリックしたら）
  &__checkbox:checked ~ {
    // ハンバーガーアイコン
    .l-drawer__icon{
      .l-drawer__icon-parts{
        background: transparent;
      }
      .l-drawer__icon-parts:before{
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
      .l-drawer__icon-parts:after{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
    }
    // メインエリアを暗くする
    .l-drawer__overlay {
      opacity: 0.3;
      pointer-events: auto; //ポインタの動作デフォルトに戻す
    }
    // メニューをだす
    .l-drawer__menu {
      right: 0;
    }
  }
  // 動きをスムーズに
  &__icon-parts,
  &__icon-parts:after,
  &__icon-parts:before,
  &__overlay,
  &__menu{
    -webkit-transition: all .7s ;
    transition: all .7s ;
  }
}

.lang{
  display: flex;
  font-family: sans-serif;
  >p{
    font-size: 100%;
    margin-bottom: 15px;
    margin-left: 10px;
  }
}

.lang:visited{
  color: beige;
}

.uk-pic, .fr-pic, .jp-pic{
  width: 20px;
  height: 20px;
}

.fa-globe-europe{
  color: beige;
  margin-right: 10px;
}

.top{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 100%;
  color: beige;
  cursor: pointer;
  align-items: center;
  >p{
    font-size: 100%;
  }
}

.lang-title{
  margin-top: 30px;
  >h3{
    font-size: 100%;
    color: beige;
    font-weight: bold;
  }
}

.lang-skill{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  line-height: 20px;
>.english, .french{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(254, 254, 254, 0.5);
  line-height: 25px;
  height: auto;
  width: 40%;
  border-radius: 50px;
  padding: 20px;
> .english-details, .french-details{
  display: flex;
  flex-direction: column;
  font-size: 100%;
  height: 100%;
}
>.english-title, .french-title{
  display: flex;
  justify-content: center;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  height: 12%;
    >h3{
    font-family: cursive;
    font-size: 100%;
    color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
  }
}
}

.english-aside-left1, .english-aside-left2, .english-aside-left3{
    display: flex;
}

#socialIcons{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 2%;
  z-index: 100;
  cursor: pointer;
>a{
  font-size: 200%;
  margin-bottom: 20px;
}
}

#socialIcons a:link{
  color: beige;
}

#socialIcons a:visited{
  color: beige;
}

#socialIcons a:hover{
  color: grey;
}

.typ {
  opacity: 0;
    }
  .typ span {
    opacity: 0;
    }
  
.work-img{
  width: 100%;
  height: auto;
}

.work-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
>.work-inner{
  display: flex;
  flex-direction: column;
  width: 30%;
>.work-link{
  display: flex;
  justify-content: center;
}
}
}

.work-link>a{
  &:link{
  font-size: 100%;
  text-decoration: none;
  margin: 5% 5%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  }
  &:visited{
  color: beige;
  border: 1px solid grey;
  }
  &:hover{
    color: black;
    background-color: rgba(252, 252, 250, 0.3);
  } 
}

footer{
  display: flex;
  width: 100%;
  height: 3%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: beige;
  text-shadow: 1px 1px grey;
  font-size: 120%;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 4%;
}

@import "reset.css";

@media screen and (max-width: 800px){
  .first-title{
    margin-top: 30%;
    font-size: 400%;
    line-height: 100px;
}

#block-01{
  >.sub-title{
    font-size: 200%;
  }
>#self-intr{
  font-size: 100%;
  >.age, .hobby, .background{
    margin-bottom: 0%;
  }
}
}

.skillBar-container{
  >.sub-title h1{
    font-size: 200%;
  }
}

.lang-skill{
  flex-direction: column;
  align-items: center;
  >.english, .french{
  line-height: 20px;
  height: auto;
  width: 50%;
  margin-bottom: 10%;
}
}

.work-content{
>.work-inner{
  width: 45%;
  margin-bottom: 20px;
}
}

#block-03{
  position: relative;
  bottom: 0;
  right: 0;
>.works{
  >.sub-title h1{
    font-size: 200%;
  }
  >.work-details{
    margin: 2% 15% 0 0;
}
}
}

footer{
  bottom: 5%;
  font-size: 90%;
}
}

@media screen and (max-width: 650px){
  body{
    background-size: auto 100vh;
  }
  #block-01{
    padding-top: 5%;
    background-size: auto 100vh;
    >#self-intr{
      font-size: 20px;
      margin: 0;
      margin-left: 10%;
      font-size: 90%;
      margin-top: 5%;
      >.age, .hobby, .background{
        >p{
          line-height: 20px;
    }
  }
  }
} 

.work-link>a{
      &:link{
      font-size: 70%;
      margin: 5% 5%;
      padding: 5px;
      }
    }

.l-drawer .l-drawer__menu{
  width: 150px;
  height: 150px;
  top: 0%; 
  right: -320px;
  >ul{
    margin-top: 10%;
    margin-left: 10%;
    >.l-drawer__item{
      font-size: 70%;
    }
  }
}

#block-02 {
  padding-top: 5%;
  >.skillBar-container{
>.sub-title h1{
  margin-bottom: 5%;
}
}
}

#block-03{
  background-size: auto 100vh;
  >.works{
    >.sub-title h1{
      margin-top: 5%;
    }
  }
   
  .works>.work-details{
      margin-top: 0;
  }
  }

  .first-title{
    margin-top: 15%;
    font-size: 300%;
    line-height: 80px;
}

#socialIcons{
  position: fixed;
  top: 60%;
  left: 90%;
  >a{
    font-size: 150%;
  }
}

.lang-skill{
  flex-direction: row;
  >.english, .french{
  height: auto;
  width: 35%;
  border-radius: 30px;
  > .english-details, .french-details{
    font-size: 10px;
    line-height: 14px;
  }
  .english-title, .french-title{
    font-size: 100%;
    padding-bottom: 10px;
  }

}
}
 

.skillBar-container{
  >.box{
    margin-bottom: 0;
  }
}

header{
  justify-content: left;
  >.box-lang{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 80%;
    width: 20%;
  }
}

.wave {
  text-align: left;
}

#myself-pic{
  display: none;
}

.l-drawer {
  &__icon{
    border-radius: 25px;
    width: 40px;
    height: 40px;
    top: 3%;
    right: 3%;
    &-parts,
    &-parts:before,
    &-parts:after{
      width: 25px;
      height: 1px;
    }
    &-parts:before{
      top: 12px
    }
    &-parts:after{
      top: -12px
    }
  }
}
}

    @media screen and (max-width: 450px){
      .skillBar-container>.box{
        display: none;
      }

      .skillBar-container>.sub-title::after{
        content: "HTML5, CSS3, Sass, Javascript, jQuery, PHP, WordPress";
        font-weight: bold;
        text-shadow: 2px 2px grey;
        color: beige;
        font-family: cursive;
        line-height: 20px;
      }

      .lang-skill{
        flex-direction: column;
        >.english, .french{
        width: 70%;
        border-radius: 30px;
        > .english-details, .french-details{
          font-size: 10px;
          line-height: 14px;
        }
        .english-title, .french-title{
          font-size: 100%;
          padding-bottom: 10px;
        }
      
      }
      }
      footer{
        bottom: 3%;
      }
    }


  